<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>triplejs</title>
		<link rel="stylesheet" href="assets/base.css">
	</head>
	<body>
    <section>
      <label> graph <select id="graph-select"></select></label><br>
      <label>subject <select id="subject-select"></select></label>
    </section>

    <section id="subject">
      <fieldset id="fields">
        <legend id="header"></legend>
      </fieldset>
    </section>

    <script type="text/template" id="info-template">
      <!-- used in header -->
      editing <code><%- s %></code> in graph <code><%- g %></code>
    </script>

	  <script src="js/lib/jquery-1.10.1.js"></script>
	  <script src="js/lib/underscore-1.4.4.js"></script>
	  <script src="js/lib/backbone-1.0.0.js"></script>
    <!--
	  <script src="js/lib/backbone.localStorage-1.1.5.js"></script>
    -->

	  <script src="js/models/nodeobject.js"></script>
	  <script src="js/collections/nodeobjects.js"></script>

	  <script src="js/models/context.js"></script>
	  <script src="js/models/graph.js"></script>
	  <script src="js/collections/graphs.js"></script>

	  <script src="js/views/select.js"></script>
	  <script src="js/views/subject.js"></script>

	  <script src="js/routers/router.js"></script>
	  <script src="js/app.js"></script>
  </body>
</html>
